<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StackOverflow</title>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mario's Speciality Food Products</title>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="navbar-brand-logo" href="@Url.Action("Index", "Home")">stackoverflow<img src="~/images/stackoverflow.png" /></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="@Url.Action("Index", "Questions")">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="@Url.Action("Index", "Answers")">Answers</a>
                </li>

				<li class="nav-item">
                    <a class="navbar-brand" href="@Url.Action("Index", "Tags")">Tags</a>
                </li>

			</ul>


            <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
			{
					<li>
                            <p class="navbar-text">Hello @User.Identity.Name!</p>
                        </li>
                            using (Html.BeginForm("LogOff", "Account"))
                            { 
                                <li><input type="submit" class="btn btn-default" value="Log out" /></li>
                            }		
			}else
			{
					    <li>
                            <a href="@Url.Action("Login", "Account")">Login | </a>
                        </li>
							<br>
                        <li>
                            <a href="@Url.Action("Register", "Account")">Signup</a>
                        </li>		
			}
			</ul>

						
<!--             	<ul class="nav navbar-nav navbar-right">
							   @if (User.Identity.IsAuthenticated)
                {
                    
                    { 
						
                        <li class="nav-item">
                            <p class="navbar-text">Hello @User.Identity.Name!</p>
                        </li>
							using (Html.BeginForm("LogOff", "Account"))
                            { 
                                <li class="nav-item"><input type="submit" class="btn btn-default" value="Log out" /></li>
                            }

							

                    }
							
                }
                </ul>
							

                else
                {
					<ul>
                        <li class="nav-item">
                            <a class="navbar-brand" href="@Url.Action("Login", "Account")">Login</a>
                        </li>
    					<li class="nav-item">
                            <a class=" navbar navbar-brand" href="@Url.Action("Register", "Account")">Signup</a>
                        </li>
                    </ul>
                }-->
               
				


            
        </div>
    </nav>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - stackoverflow</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>